# Node

**/node_modules/**
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variable files
.env
.env.*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
coverage/
dist/
build/
.DS_Store

google-services.json
pujari-70dba-firebase-adminsdk-fbsvc-b1c5b91f57.json
